.food-item{
    width: 100%;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(154, 152, 152);
    transition: 0.3s;
    animation: fadeIn 1;
    padding-bottom: 5vh;
    

}
.food-item:hover{
    box-shadow: 20px 20px 20px rgb(171, 168, 168);
}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px ;
}
.rating{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
}
.item-title{
    font-size: 2.5vh;
    font-weight: 600;
}
.stars{
    height: 2.5vh;
    width: 12vh;
}
.desc{
    margin-left: 2vh;
    margin-top: 2vh;
    font-size: 2vh;
    font-weight: 300;
}
.price{
    color: chocolate;
    margin-left: 2vh;
    margin-top: 3vh;
    font-size: 3vh;
    font-weight: 600;
}
.setcounter{
    display: flex;
   
    position: absolute;
    bottom: 15px;
    right: 15px;
    
   gap: 10px;
   cursor: pointer;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  
    
}
.setcounter img{
    width: 28px;
}
.count{
    margin-top: 0vh;
    color: rgb(7, 7, 7);
    font-size: 2.6vh;

}
.add{
   
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50px;
    height: 5vh;
    width: 5vh;
  
}
.food-item-list{
    position: relative;
    
}